.box {
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    align-content: center;
    margin-left: 35%;
    width: 15%;
    margin-right: 30%;
    margin-top: 5%;
    display: block;
    background-color: #efeaea;
}
.input{
    padding-left: 15px;
    
}

.radio{
    border-radius: 10px;
    border: 1px solid #2b2929;
    padding: 10px;
    background-color: #b6b6b3;
    margin: 5% 10% 35% 35%;
    width: 15%;
}
.mt-2{
    margin-left: 4%;
}
